
<div id="headerbox" class="headerBox">
  <div style="position: relative; top: -5px; color: white;">
    <span style="font-size: 20px;">Facturation</span><br>
    <div id="textdemo" style="font-size: 15px; height: 25px; width: 260px; overflow: hidden"><nobr>Travaux • Factures • Dépenses</nobr></div>
  </div>

  <div id="menubox" class="menuBox">
    <div class="menuItem"><a href="/newwork" target="appFrame">NOUVEAU TRAVAIL</a></div>
    <div class="menuItem"><a href="/newinvoice" target="appFrame">NOUVELLE FACTURE</a></div>
    <div class="menuItem"><a href="/newexpense" target="appFrame">NOUVELLE DÉPENSE</a></div>
  </div>
</div>

