<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Nouvelle dépense</title>
  <link rel="stylesheet" type="text/css" href="../src/main.css">
  <link href="https://code.jquery.com/ui/1.10.4/themes/excite-bike/jquery-ui.css" rel="stylesheet">
  <script src="../src/frontFuncs.js"></script>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script src="/src/datepicker-fr-CA.js"></script>

  <script>
  </script>
</head>

<body style="padding-left: 10px;">
  {{> siteHeader }}

  <br><br><br><br><br><br>

  {{{expreport expenses}}}
</body>

</html>