body {
  margin: 0;
  background-color: whitesmoke;
}

.headerBox {
  width: 100%;
  height: 35px;
  border-bottom: 1px Solid Black;
  padding: 5px;
  position: fixed;
  top: 0px;
  left: 0px;
  opacity: 1.0;
  /* background-color: rgba(255, 255, 255, 1.0); */
  background-color: #446280;
  overflow: hidden;
  z-index: 9999;
}

.menuBox {
  position: relative;
  top: -40px;
  display: table;
  float: right;
  padding-right: 20px;
  padding-top: -10px;
}

.menuItem {
  display: table-cell;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  color: green;
}

.menuItem a {
  color: white;
  text-decoration: none;
}

.menuItem a:hover {
  color: #008CFF;
}

/* a:link,
a:visited {
  text-decoration: none;
  color: white;
} */

/* a:hover {
  text-decoration: none;
  color: rgb(0, 140, 255);
} */
